* {
  margin: 0px;
  padding: 0px;
  background-color: #ece6e6;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  border: 2px solid red;
}
body .main__header {
  display: flex;
  justify-content: center;
  color: green;
  border: 2px solid purple;
  height: 20%;
}
body .main__calculatorContainer {
  border: 2px solid green;
  border-radius: 10px;
  height: 40vh;
  width: 80vw;
}
body .main__calculatorContainer .main__displayNumbers {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
  border: 2px solid blue;
  height: 5%;
  font-family: "Orbitron", sans-serif;
}
body .main__calculatorContainer #main__displayResShadow {
  color: #27a599;
}
body .main__calculatorContainer .main__btnConatiner {
  border: 2px solid yellowgreen;
  height: 65%;
}
body .main__calculatorContainer .main__btnConatiner .btnConatiner__firstRow {
  height: 17%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid purple;
}
body .main__calculatorContainer .main__btnConatiner .btnConatiner__firstRow #btnContainer__add {
  background-color: #bde8e4;
}
body .main__calculatorContainer .main__btnConatiner .btnConatiner__firstRow button {
  font-family: "Gemunu Libre", sans-serif;
  width: 33%;
  background-color: #e6babe;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
}
body .main__calculatorContainer .main__btnConatiner .btnConatiner__firstRow button:hover {
  opacity: 1;
}
body .main__calculatorContainer .btnConatiner__secondRow {
  height: 17%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid purple;
}
body .main__calculatorContainer .btnConatiner__secondRow #btnContainer__minus {
  background-color: #bde8e4;
}
body .main__calculatorContainer .btnConatiner__secondRow .test-class {
  background-color: skyblue;
}
body .main__calculatorContainer .btnConatiner__secondRow button {
  background-color: purple;
}
body .main__calculatorContainer .btnConatiner__secondRow button {
  font-family: "Gemunu Libre", sans-serif;
  width: 25%;
  background-color: #e6babe;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
}
body .main__calculatorContainer .btnConatiner__secondRow button:hover {
  opacity: 1;
}
body .main__calculatorContainer .btnConatiner__thirdRow {
  height: 17%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid purple;
}
body .main__calculatorContainer .btnConatiner__thirdRow #btnContainer__times {
  background-color: #bde8e4;
}
body .main__calculatorContainer .btnConatiner__thirdRow button {
  font-family: "Gemunu Libre", sans-serif;
  width: 25%;
  background-color: #e6babe;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
}
body .main__calculatorContainer .btnConatiner__thirdRow button:hover {
  opacity: 1;
}
body .main__calculatorContainer .btnConatiner__fourthRow {
  height: 17%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid purple;
}
body .main__calculatorContainer .btnConatiner__fourthRow #btnContainer__divide {
  background-color: #bde8e4;
}
body .main__calculatorContainer .btnConatiner__fourthRow button {
  font-family: "Gemunu Libre", sans-serif;
  width: 25%;
  background-color: #e6babe;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
}
body .main__calculatorContainer .btnConatiner__fourthRow button:hover {
  opacity: 1;
}
body .main__calculatorContainer .btnConatiner__fifthRow {
  height: 17%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid purple;
}
body .main__calculatorContainer .btnConatiner__fifthRow #btnContainer__equals {
  background-color: #27a599;
}
body .main__calculatorContainer .btnConatiner__fifthRow #btnContainer__equals:hover {
  color: white;
}
body .main__calculatorContainer .btnConatiner__fifthRow button {
  font-family: "Gemunu Libre", sans-serif;
  width: 33%;
  background-color: #e6babe;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
}
body .main__calculatorContainer .btnConatiner__fifthRow button:hover {
  opacity: 1;
}

@media only screen and (min-width: 1024px) {
  body main .main__calculatorContainer {
    height: 80vh;
    width: 60vh;
    font-size: 2rem;
  }
  body main .main__calculatorContainer #main__displayResShadow {
    font-size: 1rem;
  }
  body main .main__calculatorContainer .main__displayNumbers {
    text-align: end;
  }
  body main .main__calculatorContainer .main__btnConatiner {
    border: 2px solid yellowgreen;
    height: 65%;
  }
  body main .main__calculatorContainer .main__btnConatiner button {
    font-size: 2rem;
  }
  body main .main__calculatorContainer .main__btnConatiner .btnConatiner__firstRow {
    height: 20%;
  }
  body main .main__calculatorContainer .main__btnConatiner .btnConatiner__secondRow {
    height: 20%;
  }
  body main .main__calculatorContainer .main__btnConatiner .btnConatiner__thirdRow {
    height: 20%;
  }
  body main .main__calculatorContainer .main__btnConatiner .btnConatiner__fourthRow {
    height: 20%;
  }
  body main .main__calculatorContainer .main__btnConatiner .btnConatiner__fifthRow {
    height: 20%;
  }
}/*# sourceMappingURL=main.css.map */