* {
  margin: 0px;
  padding: 0px;
  background-color: #ece6e6;
}

$button-color: #e6babe;
$opperator-color: #bde8e4;
$opperator-color-equals: #27a599;
$display-font: "Orbitron", sans-serif;
$button-font: "Gemunu Libre", sans-serif;
$dark-mode-button-color: black;
$dark-mode-font-color: white;
$dark-mode-opperator-color: #e0930e;
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  border: 2px solid red;

  .main__header {
    display: flex;
    justify-content: center;
    color: green;
    border: 2px solid purple;
    height: 20%;
  }

  .main__calculatorContainer {
    border: 2px solid green;
    border-radius: 10px;
    height: 40vh;
    width: 80vw;

    .main__displayNumbers {
      display: flex;
      justify-content: flex-end;
      padding: 10px 0px;
      // margin-bottom: 10px;
      border: 2px solid blue;
      height: 5%;

      font-family: $display-font;
    }
    .darkModeDisplay {
      background-color: black;
      color: $opperator-color-equals;
      opacity: 0.65;
      transition: 0.3s;
    }
    #main__displayResShadow {
      color: $opperator-color-equals;
    }
    .main__btnConatiner {
      border: 2px solid yellowgreen;
      height: 65%;
      .main__operatorBtn {
        background-color: $opperator-color-equals;
      }
      .main__operatorBtn:hover {
        color: white;
      }

      .btnConatiner__firstRow {
        height: 17%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 2px solid purple;

        // #btnContainer__add {
        //   background-color: $opperator-color;
        // }
        .main__operatorBtn {
          background-color: $opperator-color-equals;
        }
        .main__operatorBtn:hover {
          color: white;
        }
        .darkModeNumberBtn {
          border-color: $dark-mode-font-color;
          background-color: $dark-mode-button-color;
          color: $dark-mode-font-color;
        }
        .darkModeOperatorBtn {
          background-color: $dark-mode-opperator-color;
          color: $dark-mode-font-color;
        }
        button {
          font-family: $button-font;
          width: 33.3%;
          background-color: $button-color;
          text-decoration: none;
          // border-radius: 8px;
          opacity: 0.6;
          transition: 0.3s;
        }
        button:hover {
          opacity: 1;
        }
      }
    }
    .btnConatiner__secondRow {
      height: 17%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 2px solid purple;
      // #btnContainer__minus {
      //   background-color: $opperator-color;
      // }
      .darkModeNumberBtn {
        border-color: $dark-mode-font-color;
        background-color: $dark-mode-button-color;
        color: $dark-mode-font-color;
      }
      .darkModeOperatorBtn {
        background-color: $dark-mode-opperator-color;
        color: $dark-mode-font-color;
      }
      button {
        background-color: purple;
      }
      button {
        font-family: $button-font;
        width: 25%;
        background-color: $button-color;
        text-decoration: none;
        // border-radius: 8px;
        opacity: 0.6;
        transition: 0.3s;
      }
      button:hover {
        opacity: 1;
      }
    }
    .btnConatiner__thirdRow {
      height: 17%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 2px solid purple;
      // #btnContainer__times {
      //   background-color: $opperator-color;
      // }
      .darkModeNumberBtn {
        border-color: $dark-mode-font-color;
        background-color: $dark-mode-button-color;
        color: $dark-mode-font-color;
      }
      .darkModeOperatorBtn {
        background-color: $dark-mode-opperator-color;
        color: $dark-mode-font-color;
      }
      button {
        font-family: $button-font;
        width: 25%;
        background-color: $button-color;
        text-decoration: none;
        // border-radius: 8px;
        opacity: 0.6;
        transition: 0.3s;
      }
      button:hover {
        opacity: 1;
      }
    }
    .btnConatiner__fourthRow {
      height: 17%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 2px solid purple;
      // #btnContainer__divide {
      //   background-color: $opperator-color;
      // }
      .darkModeNumberBtn {
        border-color: $dark-mode-font-color;
        background-color: $dark-mode-button-color;
        color: $dark-mode-font-color;
      }
      .darkModeOperatorBtn {
        background-color: $dark-mode-opperator-color;
        color: $dark-mode-font-color;
      }
      button {
        font-family: $button-font;
        width: 25%;
        background-color: $button-color;
        text-decoration: none;
        // border-radius: 8px;
        opacity: 0.6;
        transition: 0.3s;
      }
      button:hover {
        opacity: 1;
      }
    }
    .btnConatiner__fifthRow {
      height: 17%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 2px solid purple;

      .darkModeNumberBtn {
        border-color: $dark-mode-font-color;
        background-color: $dark-mode-button-color;
        color: $dark-mode-font-color;
      }
      .darkModeOperatorBtn {
        background-color: $dark-mode-opperator-color;
        color: $dark-mode-font-color;
      }

      button {
        font-family: $button-font;
        width: 33.3%;
        background-color: $button-color;
        text-decoration: none;
        // border-radius: 8px;
        opacity: 0.6;
        transition: 0.3s;
      }
      button:hover {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  body {
    main {
      .main__calculatorContainer {
        height: 80vh;
        width: 60vh;
        font-size: 2rem;
        #main__displayResShadow {
          font-size: 1rem;
        }
        .main__displayNumbers {
          text-align: end;
        }
        .main__btnConatiner {
          border: 2px solid yellowgreen;
          height: 65%;

          button {
            font-size: 2rem;
          }

          .btnConatiner__firstRow {
            height: 20%;
          }
          .btnConatiner__secondRow {
            height: 20%;
          }
          .btnConatiner__thirdRow {
            height: 20%;
          }
          .btnConatiner__fourthRow {
            height: 20%;
          }
          .btnConatiner__fifthRow {
            height: 20%;
          }
        }
      }
    }
  }
}
